<p-sidebar [(visible)]="display_navigation">
    <h2>Navigation</h2>
    <ul class="sidebar-content">
        <li>
            <p-button label="Add Device" icon="pi pi-plus" (click)="addDevice()"></p-button>
        </li>
        <li>
            <p-skeleton></p-skeleton>
        </li>
        <li>
            <p-skeleton></p-skeleton>
        </li>
        <li>
            <button pButton icon="pi pi-bolt" type="button" routerLink="/home" label="Dashboard"></button>
        </li>
    </ul>
</p-sidebar>

<p-toolbar>
    <p-button (click)="display_navigation = true" icon="pi pi-bars"></p-button>
    <p-avatar icon="pi pi-user" (click)="showUser()" size="large"></p-avatar>
</p-toolbar>

<router-outlet></router-outlet>