@mixin center($horizontal, $vertical) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}

#title {
  grid-area: title;
}
#username {
  grid-area: username;
}
#email {
  grid-area: email;
}
#pw1 {
  grid-area: pw1;
}
#pw2 {
  grid-area: pw2;
}
#maxconsumption {
  grid-area: maxc;
}
#button {
  grid-area: button;
  margin-top: 3vh;
}
#errorMsg {
  grid-area: error;
  height: 10vh;
}

.align-r-element {
  @include center(center, center);
  margin: 3vh 0;
}

.align-l-element {
  @include center(center, center);
  margin: 3vh 0;
}

.center-h {
  @include center(center, center);
}

@media only screen and (min-width: 650px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 8vw;
    row-gap: 3vh;
    grid-template-areas:
      'title title'
      'username email'
      'pw1 pw2'
      'error error'
      'button button';
    margin: 5vw;
  }

  .align-r-element {
    @include center(right, center);
  }
  .align-l-element {
    @include center(left, center);
  }
}
