<form class="container" [formGroup]="signupForm">
  <H1 id="title" class="center-h">Register</H1>
  <div id="username" class="align-r-element">
    <div>
      <h3>Username</h3>
      <input
        type="text"
        formControlName="username"
        pInputText
        placeholder="Hubertine"
        class="p-inputtext-lg" />
    </div>
  </div>
  <div id="email" class="align-l-element">
    <div>
      <h3>Email</h3>
      <input
        type="text"
        formControlName="email"
        pInputText
        placeholder="great@example.com"
        class="p-inputtext-lg" />
    </div>
  </div>
  <div id="pw1" class="align-r-element">
    <div>
      <h3>Password</h3>
      <p-password
        formControlName="pw1"
        [toggleMask]="true"
        class="p-inputtext-lg">
        <ng-template pTemplate="header">
          <h5>Pick a password</h5>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Suggestions</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
    </div>
  </div>
  <div id="pw2" class="align-l-element">
    <div>
      <h3>Repeat Password</h3>
      <p-password
        formControlName="pw2"
        [toggleMask]="true"
        class="p-inputtext-lg"></p-password>
    </div>
  </div>
  <div id="errorMsg" class="center-h">
    <div>
      <div *ngIf="signupStatus.isEmpty" class="p-error block">
        Some fields are empty!
      </div>

      <div *ngIf="signupStatus.invEmail" class="p-error block">
        The given email is invalid!
      </div>

      <div *ngIf="signupStatus.difPw" class="p-error block">
        The passwords do not match!
      </div>
    </div>
  </div>
  <div id="button" class="center-h">
    <button
      pButton
      pRipple
      type="button"
      label="Login"
      routerLink="/login"
      class="p-button-text"></button>
    <p-button
      label="Submit"
      (onClick)="onSubmit()"
      icon="pi pi-check"
      [disabled]="!signupForm.valid"></p-button>
  </div>
</form>
