<div *ngIf="!loaded; else loadedContent">
    <p-progressSpinner></p-progressSpinner>
</div>

<ng-template #loadedContent>
    <div *ngIf="!pluginformation; else pluginfo">
        <h1>Plug not found</h1>
    </div>
    <ng-template #pluginfo>
        <h1>{{pluginformation!.name}}</h1>
        <p>(Measurement since {{pluginformation!.addedDate}})</p>
        <p>Plugstatus</p>
        <p-toggleButton onLabel="Yes" offLabel="No"></p-toggleButton>
        <p-chart type="line" [data]="pluginformation!.statistics"></p-chart>
    </ng-template>
</ng-template>