@mixin center($horizontal, $vertical) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}

.container {
  display: flex;
  flex-direction: column;

  width: 90vw;
  height: 90vh;
}

.form {
  height: auto;
}

.element {
  margin: 5vh 0;
}

.center-h {
  @include center(center, center);
}

#pwToggle {
  width: auto;
}

button {
  margin: 0;
  background-color: #64b5f6;
  color: #121212;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}

p {
  text-align: justify;
}

input {
  background-color: #121212;
  border: 2px solid #2e2e2e;
  color: #fff;

  border-radius: 0.2rem;
  width: 100%;

  font-size: 1.3rem;
}

a {
  color: #ffffff;
}

body {
  background-color: #121212;
  color: #fff;

  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 5vw;
}

@media only screen and (min-width: 650px) {
  input {
    width: 50%;
  }
}
