#title {
  grid-area: title;
}
#username {
  grid-area: usrname;
}
#email {
  grid-area: email;
}
#pw1 {
  grid-area: pw1;
}
#pw2 {
  grid-area: pw2;
}
#maxconsumption {
  grid-area: maxc;
}
#button {
  grid-area: button;
  margin-top: 3vh;
}

.align-r-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh 0;
}

.align-l-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh 0;
}

.center-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 650px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 8vw;
    row-gap: 3vh;
    grid-template-areas:
      "title title"
      "usrname email"
      "pw1 pw2"
      "button button";
    margin: 5vw;
  }

  .align-r-element {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .align-l-element {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}
