<div class="container">
  <H1>Register</H1>
  <div>
    <h3>Username</h3>
    <input type="text" [(ngModel)]="username" pInputText class="p-inputtext-lg" placeholder="Hubertine">
  </div>
  <div>
    <h3>Email</h3>
    <input type="text" [(ngModel)]="email" pInputText class="p-inputtext-lg" placeholder="great@example.com">
  </div>

  <div>
    <h3>Password</h3>
    <p-password [(ngModel)]="pw1" [toggleMask]="true">
      <ng-template pTemplate="header">
        <h5>Pick a password</h5>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Suggestions</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          <li>At least one lowercase</li>
          <li>At least one uppercase</li>
          <li>At least one numeric</li>
          <li>Minimum 8 characters</li>
      </ul>
      </ng-template>
    </p-password>
  </div>
  <div>
    <h3>Repeat Password</h3>
    <p-password [(ngModel)]="pw2" [toggleMask]="true"></p-password>
  </div>
  <div>
    <h3>Max Consumption</h3>
    <p-inputNumber [(ngModel)]="maxconsumption" suffix=" W" placeholder="69.420 W" locale="de-DE"></p-inputNumber>
  </div>
</div>
